body .header h2 {
  color: #0e0e0e;
  font-weight: bold;
}
body .container-fluid .first {
  color: #7c7c7c;
  font-size: 19px;
  margin-top: 10px;
}
body .container-fluid .second {
  color: #0e0e0e;
  font-size: 19px;
}
body .container-fluid .cards > div {
  border: 1px solid #cec6c6;
  display: inline-block;
  box-sizing: border-box;
  margin-right: -1px;
}
body .container-fluid .cards .S p {
  margin-bottom: 30px;
}
body .container-fluid .cards h3 {
  margin-top: 30px;
  color: #0e0e0e;
}
body .container-fluid .cards .price {
  color: #5596e0;
}
body .container-fluid .cards .price p {
  font-weight: bold;
  margin-bottom: 20px;
}
body .container-fluid .cards .btn {
  border-radius: 0;
  padding: 6px 22px;
  font-size: 12px;
  color: #5596e0;
  margin-bottom: 20px;
}
body .footer .btn {
  border-radius: 0;
  padding: 11px 30px;
  font-size: 20px;
  margin-top: 40px;
  border: none;
}
body .footer .btn-primary {
  background-color: #5596e0;
}
body .footer .btn-primary:hover {
  background-color: #2375d3;
}
body .footer small {
  color: #7c7c7c;
}
body .footer .black {
  margin-left: 40px;
  background-color: #000000;
  color: #FFFFFF;
}
body .footer .black:hover {
  background-color: #7c7c7c;
  color: #FFFFFF;
}
@media screen and (max-width: 1264px) and (min-width: 960px) {
  .col-md-offset-1 p {
    width: 100%;
  }
  .col-md-offset-1 .container-fluid .cards {
    width: 30%;
  }
  .col-md-offset-1 .container-fluid .cards .S p {
    margin-bottom: 20px;
  }
  .col-md-offset-1 .price {
    display: inline-block;
  }
}
@media screen and (max-width: 1264px) and (min-width: 960px) and screen and (max-width: 959px) and (min-width: 600px) {
  .cards div {
    width: 40%;
    margin-bottom: 20px;
  }
  .second {
    margin-bottom: 20px;
    width: 100%;
  }
  .price {
    display: inline-table;
  }
  .price p {
    min-height: 40px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1264px) and (min-width: 960px) and screen and (max-width: 599px) {
  .cards div {
    width: 100%;
  }
  .cards .price p {
    margin-bottom: 10px;
  }
}
