// xs (for phones - screens less than 768px wide)
// sm (for tablets - screens equal to or greater than 768px wide)
// md (for small laptops - screens equal to or greater than 992px wide)
// lg (for laptops and desktops - screens equal to or greater than 1200px wide)

@hc: #0e0e0e;
@mc: #7c7c7c;
@lc: #FFFFFF;
@bc: #5596e0;
@dc: #000000;
@ss: #cec6c6;
@btc: #afd7f1;


@screen_xs: 768px;
@screen_xs_less: @screen_xs - 1px;
@screen_md: 992px;
@screen_md_less: @screen_md - 1px;
@screen_lg: 1200px;
@screen_lg_less: @screen_lg - 1px; 

.body{
   font-size: 16px;
}
.container{
   @media (min-width:@screen_lg){
      width: 1450px;
   }
}
.header{
   >h2{
      color: @hc;
   }
   >p{
      color: @mc;
      font-size: 1.250em;
      margin-bottom: 35px;
   }
}   
.row{
   .col-md-2{
      width: 20%;
      @media (max-width:@screen_lg_less) {
         width: 100%;
      }
   }
   .text{
      text-align: left;
      line-height: 2;
      padding-right: 5px;
      p{
         color: @mc;
         font-size: 1.150em;
         padding-bottom: 20px;  
      }
   }
   .col-md-10{
      width: 80%;
      @media (max-width:@screen_lg_less){
         width: 100%;
      }
   }    
   .col-md-3{
      @media (max-width:@screen_lg_less) {
         width: 45%;
         margin-bottom: 20px;
      }      
      @media (max-width:@screen_md_less) {
         width: 50%;  
         margin: 0px auto 20px auto;
      }                
      @media (max-width:@screen_xs_less) {
         width: 100%;
      }
      &:nth-child(2){
         .price{
            border-top-color: darken(@btc, 20%);
            border-left: none;
            @media (max-width:@screen_md_less) {
               border-left: 1px solid @ss;
            }    
            .btn {
               color: red;
            }
         }
      }
      &:nth-child(3){ 
         .price{
            border-top-color: darken(@btc, 40%);
            border-left: none;
            @media (max-width:@screen_md_less) {
               border-left: 1px solid @ss;
            }
            @media (max-width:@screen_lg_less) {
               border-left: 1px solid @ss;
            } 
         }
      }
      &:nth-child(4){ 
         .price{
            border-top-color: darken(@btc, 50%);
            border-left: none;
            padding: 20px 15px;
            @media (max-width:@screen_md_less) {
               border-left: 1px solid @ss;
            } 
         }
      }
   }
   .price{
      border: 1px solid @ss;
      text-align: center;
      display: block;
      box-sizing: border-box;   
      padding: 20px 20px;
      border-top: 8px solid @btc;
      margin-bottom: 40px;
      .pr-title{
         color: @hc;
         margin-top: 20px;
      }
      .pr-desc{
         display: -webkit-box;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         line-height: 2;
         min-height: 56px;
         margin-bottom: 10px;
      }
      .pr-num{
         color: @bc;
         margin-bottom: 20px;
      }
      .btn {
         border-radius: 0;
         padding: 8px 24px;
         font-size: 0.750em;
         color: @bc;
      } 
   }
}                
             
.footer{
   .btn {
      border-radius: 0;
      padding: 10px 30px;
      font-size: 1.250em;
      border: none;
      margin: 0px 40px;
   }
   .btn-primary {
      background-color: @bc;
      margin-right: 0px;
      &:hover {
         background-color: #2375d3;
      }   
   }
   p {
      color: @mc;
      font-size: 1.125em;
      margin-bottom: 30px;
   }
   .black {
      background-color: @dc;
      color: @lc;
      &:hover {
         background-color: @mc;
         color: @lc;
      }
   }
}      


