body .header h2 {
  color: #0e0e0e;
}
body .header p {
  color: #7c7c7c;
  font-size: 20px;
  margin-bottom: 30px;
}
body > .row {
  position: relative;
  left: 5%;
}
body > .row .col-lg-2 {
  width: 14%;
}
body > .row > .container > p {
  color: #7c7c7c;
  font-size: 17px;
  margin-top: 12px;
}
body > .row > .container .second {
  color: #0e0e0e;
  font-size: 16px;
  line-height: 2;
}
body .cards .row {
  display: flex;
}
body .cards .row .col-lg-3 {
  width: 19.3333%;
  padding: 15px;
  line-height: 1.5;
}
body .cards .row > div {
  border: 1px solid #cec6c6;
  display: inline-block;
  box-sizing: border-box;
  margin-right: -1px;
  margin-left: 0;
}
body .cards .row > div:nth-child(1) {
  border-top: 8px solid #afd7f1;
}
body .cards .row > div:nth-child(2) {
  border-top: 8px solid #4aa1d7;
}
body .cards .row > div:nth-child(3) {
  border-top: 8px solid #247bb1;
}
body .cards .row > div:nth-child(4) {
  border-top: 8px solid #105c8d;
}
body .cards .row h3 {
  color: #0e0e0e;
}
body .cards .row p {
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 45px;
}
body .cards .row .price {
  color: #5596e0;
}
body .cards .row .btn {
  border-radius: 0;
  padding: 8px 24px;
  font-size: 12px;
  color: #5596e0;
}
body .footer {
  margin-top: 50px;
}
body .footer .btn {
  border-radius: 0;
  padding: 11px 30px;
  font-size: 20px;
  margin-top: 30px;
  border: none;
}
body .footer .btn-primary {
  background-color: #5596e0;
}
body .footer .btn-primary:hover {
  background-color: #2375d3;
}
body .footer p {
  color: #7c7c7c;
  font-size: 18px;
}
body .footer .black {
  margin-left: 40px;
  background-color: #000000;
  color: #FFFFFF;
}
body .footer .black:hover {
  background-color: #7c7c7c;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  body > .row .col-lg-2 {
    width: 100%;
    margin-left: 20px;
  }
  body .cards .row {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  body .cards .row {
    display: inline-block;
  }
  body .cards .row .col-lg-3 {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  body > .row .col-lg-2 {
    margin-left: 0;
  }
  body .cards .row {
    display: inline-block;
  }
  body .cards .row .col-lg-3 {
    width: 100%;
  }
  body .footer .black {
    margin-left: 0;
  }
}
