h2 {
  color: #0e0e0e;
  font-weight: bold;
}
.cards > div {
  border: 1px solid #cec6c6;
  display: inline-block;
  box-sizing: border-box;
  height: 240px;
  width: 280px;
  margin-right: -1px;
}
.cards h3 {
  margin-top: 15%;
  color: #0e0e0e;
}
.cards .cijena {
  color: #5596e0;
}
.cards .cijena p {
  font-weight: bold;
  margin-bottom: 12%;
}
.cards > div > p {
  min-height: 20%;
}
.cards .btn {
  border-radius: 0;
  padding: 6px 22px;
  font-size: 12px;
  color: #5596e0;
}
body > div {
  margin: 30px auto;
}
.container .btn {
  border-radius: 0;
  padding: 11px 30px;
  font-size: 20px;
  margin-top: 40px;
  border: none;
}
.container .btn-primary {
  background-color: #5596e0;
}
.container .btn-primary:hover {
  background-color: #2375d3;
}
.container small {
  color: #7c7c7c;
}
.black {
  margin-left: 40px;
  background-color: #000000;
  color: #FFFFFF;
}
.black:hover {
  background-color: #7c7c7c;
  color: #FFFFFF;
}
.first {
  color: #7c7c7c;
  font-size: 19px;
  margin-top: 10%;
}
.second {
  color: #0e0e0e;
  font-size: 19px;
  width: 95%;
}
@media screen and (max-width: 1530px) and (min-width: 992px) {
  .cards div {
    width: 30%;
    margin-bottom: 20px;
    height: 260px;
  }
  .cijena {
    display: inline-table;
  }
}
@media screen and (max-width: 991px) {
  .cards div {
    width: 40%;
    margin-bottom: 20px;
  }
  .second {
    margin-bottom: 20px;
    width: 100%;
  }
  .cijena {
    display: inline-table;
  }
  .cijena p {
    min-height: 40px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 729px) {
  .cards div {
    width: 100%;
  }
  .cards h3 {
    margin-top: 5%;
  }
  .cards .cijena p {
    margin-bottom: 2%;
  }
}
