// <600px: small to large handset
// 600px — 960px: small to large tablet
// 960px — 1264px: large tablet or laptop
// >1264px - desktop

@hc: #0e0e0e;
@mc: #7c7c7c;
@lc: #FFFFFF;
@bl: #5596e0;
@dc: #000000;
@ss: #cec6c6;


@screen_xs: 599px;
@screen_md_min: 600px;
@screen_md_max: 959px;
@screen_lg_min: 960px;
@screen_lg_max: 1264px;

body{
   .header{
      h2{
         color: @hc;
         font-weight: bold;
      }
   }   
   .container-fluid{
      .first{
         color: @mc;
         font-size: 19px;
         margin-top: 10px;
      }
      .second{
         color: @hc;
         font-size: 19px;           
      }     
      .cards{
         >div{
            border: 1px solid @ss;
            display: inline-block;
            box-sizing: border-box;   
            margin-right: 0 - 1px;
         }
         .S{
            p{
               margin-bottom: 30px;
            }
         }
         h3{
            margin-top: 30px;
            color: @hc;
         }
         .price {
            color: @bl;
            p{
               font-weight: bold;
               margin-bottom: 20px;
            }
         }
         .btn {
            border-radius: 0;
            padding: 6px 22px;
            font-size: 12px;
            color: @bl;
            margin-bottom: 20px;
         }
      } 
   }  
   .footer{
      .btn {
            border-radius: 0;
            padding: 11px 30px;
            font-size: 20px;
            margin-top: 40px;
            border: none;
         }
      .btn-primary {
            background-color: @bl;
         }
      .btn-primary:hover {
            background-color: #2375d3;
         }
      small {
            color: @mc;
         }
      .black {
            margin-left: 40px;
            background-color: @dc;
            color: @lc;
         }
      .black:hover {
            background-color: @mc;
            color: @lc;
         }
   }    
}

@media screen and (max-width: @screen_lg_max) and (min-width: @screen_lg_min) {
      .col-md-offset-1{ 
         p{
            width: 100%;
         }
         .container-fluid{
            .cards{
               width: 30%;
               .S {     
                  p{
                  margin-bottom: 20px;
                  }
               }
            }
         }  
         .price {
            display: inline-block;
         }
      }
   }   


@media screen  and (max-width: @screen_md_max) and (min-width: @screen_md_min) {
   .cards{
      div{
         width: 40%;
         margin-bottom: 20px;
      }
   }
   .second {
      margin-bottom: 20px;
      width: 100%;
   }
   .price {
      display: inline-table;
      p {
         min-height: 40px;
         margin-bottom: 0;
      }
   }
}

@media screen and (max-width: @screen_xs) {
   .cards{
      div{
         width: 100%;
      }
      .price{
         p{
            margin-bottom: 10px;
         }
      }
   }
}
